body {
    width: 400px;
    margin: auto;
}

select {
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin: 10px 0;
}

.f1 {
    font-family: 'Abel', sans-serif;
}

.f2 {
    font-family: 'Bad Script', cursive;
}

.f3 {
    font-family: 'Bai Jamjuree', sans-serif;
}

.f4 {
    font-family: 'Barlow Condensed', sans-serif;
}

.f5 {
    font-family: 'Cabin', sans-serif;
}

.f6 {
    font-family: 'Cardo', serif;
}

.f7 {
    font-family: 'Chakra Petch', sans-serif;
}

.f8 {
    font-family: 'Courgette', cursive;
}

.f9 {
    font-family: 'Dancing Script', cursive;
}

.f10 {
    font-family: 'Didact Gothic', sans-serif;
}

.f11 {
    font-family: 'Dongle', sans-serif;
}

.f12 {
    font-family: 'Epilogue', sans-serif;
}

.f13 {
    font-family: 'Familjen Grotesk', sans-serif;
}

.f14 {
    font-family: 'Fresca', sans-serif;
}

.f15 {
    font-family: 'Genos', sans-serif;
}

.f16 {
    font-family: 'Grand Hotel', cursive;
}

.f17 {
    font-family: 'Griffy', cursive;
}

.f18 {
    font-family: 'Gruppo', cursive;
}

.f19 {
    font-family: 'Handlee', cursive;
}

.f20 {
    font-family: 'Hi Melody', cursive;
}

.f21 {
    font-family: 'Josefin Sans', sans-serif;
}

.f22 {
    font-family: 'Jura', sans-serif;
}

.f23 {
    font-family: 'La Belle Aurore', cursive;
}

.f25 {
    font-family: 'League Spartan', sans-serif;
}

.f26 {
    font-family: 'Lobster Two', cursive;
}

.f27 {
    font-family: 'Marck Script', cursive;
}

.f28 {
    font-family: 'Maven Pro', sans-serif;
}

.f29 {
    font-family: 'Michroma', sans-serif;
}

.f30 {
    font-family: 'NTR', sans-serif;
}

.f31 {
    font-family: 'Outfit', sans-serif;
}

.f32 {
    font-family: 'Padauk', sans-serif;
}

.f33 {
    font-family: 'Patrick Hand', cursive;
}

.f34 {
    font-family: 'Play', sans-serif;
}

.f35 {
    font-family: 'Pompiere', cursive;
}

.f36 {
    font-family: 'Questrial', sans-serif;
}

.f37 {
    font-family: 'Rajdhani', sans-serif;
}

.f38 {
    font-family: 'Rochester', cursive;
}

.f39 {
    font-family: 'Saira', sans-serif;
}

.f40 {
    font-family: 'Syne', sans-serif;
}

.f41 {
    font-family: 'Tajawal', sans-serif;
}

.f42 {
    font-family: 'Titillium Web', sans-serif;
}

.f43 {
    font-family: 'Varela Round', sans-serif;
}

.f44 {
    font-family: 'Zen Kurenaido', sans-serif;
}